@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model INF27507_Boutique_En_Ligne.Models.Product

<div class="card mb-2">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col">
                        <img width="100" src="~/img/@Model.Image">
                    </div>
                    <div class="col">
                        <h3>Informations : </h3>
                        <b><i class="bi bi-tag-fill"></i> Titre :</b> @Model.Title <br />
                        <b><i class="bi bi-currency-dollar"></i> Price :</b> @Model.Price.ToString("C") <br />
                        <b><i class="bi bi-palette-fill"></i> Colour :</b> @Model.Colour.Name <br />
                        <b><i class="bi bi-person-fill"></i> Vendeur :</b> @Model.Seller.Firstname @Model.Seller.Lastname
                    </div>
                </div>
            </div>
        </div>
        <a 
            asp-controller="Product" 
            asp-action="ProductPage"
            asp-route-id="@Model.Id"
            class="stretched-link"
        ></a>
    </div>
</div>